select{
    width: 75% !important;
}

.sky-submit{
    background-color: rgb(38,136,165);
    color: white;
    font-size: 16px;
    margin-top: 1rem;
}
.question{
    margin-top: 1rem;
}
.form-select{
    height: fit-content;
}