select{
    width: 75% !important;
}

.sky-submit{
    background-color: rgb(38,136,165);
    color: white;
    font-size: 16px;
    margin-top: 1rem;
}
.question{
    margin-top: 1rem;
}
.form-select{
    height: fit-content;
}
.question-txt{
    font-size: 25px !important;
}

.reveal{
    display: block;
}
.modal-content{
    /* box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.1); */
    border: 7px solid #151A40;
    height: 40rem;
}
.poll-dialog {
    max-width: 55%;
    margin: auto;
    margin-top: 3%;
    animation: popup 1.5s ease-out 10s;
}
.poll-header{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
    background-color: rgba(241, 200, 16, 0.884) !important;
}

.poll-body{
    padding: 1rem;
    height: 500px;
    overflow-y: scroll;
    width: 90%;
    margin: auto;
}

.close{
    align-self: baseline;
}

@keyframes popup {
    0%{
        margin-top: 100%;
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    100%{
        margin-top: 3%;

    }
}