/* GENERAL */
.conf-info-title{
    font-size: 25px;
    font-weight: 400;
}
/* ABOUT */
.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.about-box{
    padding: 2rem;
    border: 3px solid rgb(38,136,165);
    margin: 1rem;
    border-radius: 8px;
}
.about-title{
    color: rgb(38,136,165);
    font-size: 32px;
    font-weight: 700;
}
.about-box > span{}
.about-txt{
    font-size: 22px;
    font: 'Times New Roman';
}
/* SPONSORS */
.sponsors-container{
    text-align: center;
}

.sponsors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}
.wp-block-image{
    height: 100%
}

/* AGENDA */
table{
    table-layout: fixed;
    border-radius: 5px;
}

table td{
    border: 1px solid rgb(186, 186, 186);
    padding: 1rem;
    font-size: 22px;
}

/* DELEGATES */
.delegates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.delegate{
    padding: 1rem;
}

/* SPEAKERS */
.speaker-img{
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
}
.speakers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.speaker{
    padding: 3rem;
    padding-right: 1rem;
}
