.edit-container{
    background: rgb(0,0,0,0.1);
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
}
.edit-category{
    background: rgba(241, 200, 16, 0.884) !important;
    color: black !important;
}
.edit-img{
    height: 18rem;
    width: auto;
}
.edit-title{
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 800;
}
.edit-text{
    font-size: 21px;
}
.edit-name{
    font-size: 20px;
    font-weight: 600;
}