.side-menu-container{
    padding-left: 1rem;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-template-areas: 
        "conferences"
        "poll"
        "news";
}
.side-conference{
    width: 75%;
    margin-left: 2rem;
}
.conference-container{
    grid-area: conferences;
    margin-bottom: 3rem;
}
.poll-container{
    grid-area: poll;
    margin-bottom: 3rem;

}
.news-container{
    grid-area: news;
    margin-bottom: 3rem;

}

#side-conference-title{
    font-size: 23px;
}

.conference-banner{
    height: 17rem;
    width: 16rem;
}

.poll-title{
    background-color: rgba(241, 200, 16, 0.884) !important;
}

select{
    width: 100% !important;

}
.question{
    font-weight: 600;
}

.side-img{
    height: 15rem;
    margin-bottom: 2.5rem;
    padding-left: 1rem;
}
.side-data{
    font-weight: 600;
    font-size: 17px;
}
#side-date{
    margin-bottom: 2rem;
}
.side-conf-title{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.side-data-container > a:hover{
    color: white !important;
}
.conf-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5rem;
    color: white;

}