.recent-container{
    grid-area: recent;
}
.card-body-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recents-comments{
    display: flex;
    justify-content: flex-end!important;
}

.recent-img{
    height: 17rem;
}
.recent-container{
    padding-right:2rem ;
}