.recent-container{
    grid-area: recent;
}
.card-body-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recents-comments{
    display: flex;
    justify-content: flex-end!important;
}

.recent-img{
    height: 17rem;
    object-fit: cover;
    border-radius: 5px;
}
@media screen and (min-width:2000px) {
    .recent-img{
        height: 25rem;
    }
}
.recent-container{
    padding-right:2rem ;
}