.sub-article-title{
    font-size: 20px;
    text-transform: uppercase;
}

.sub-feature-container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.sub-feature-card{
    padding-bottom: 3rem;
}



