.conf-img{
    width: 100% !important;
    height: 27rem;
    padding: 1rem;
}
.conf-title{
    font-size: 25px;
    font-weight: 600;
}
.conf-nav{
    z-index: 5;
}

.conf-content{
    overflow-y: scroll;
}
.conf-side-data{
    font-size: 15px;
    font-weight: 600;
}

.conf-text{
    margin-top: 3rem;
    margin-left: 3rem;
}
.conf-tagline{
    font-size: 18px;
    padding-right: 2.5rem;
}

.register-container{
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.1);
    width: 75%;
    margin: auto;
}
.register-button{
    width: fit-content;
    height: 2.5rem;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.register-title{
    text-decoration: underline;
}
.register-btn-grid{
    display: grid;
}

.countdown{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 30px;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 0.5rem;
    text-align: center;
    border: 2px dashed white;
    border-radius: 5px;
}
.countdown-text{
    font-size: 18px;
    font-weight: 600;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'IBM Plex Mono', monospace;
}

