.conf-img{
    width: 100% !important;
    height: 37rem;
    padding: 1rem;
}
.conf-title{
    font-size: 45px;
    font-weight: 600;
}
.conf-nav{
    z-index: 5;
}

.conf-content{
    overflow-y: scroll;
}
.conf-side-data{
    font-size: 25px;
    font-weight: 600;
}

.conf-text{
    margin-top: 3rem;
    margin-left: 3rem;
}
.conf-tagline{
    font-size: 30px;
}


.register-button{
    width: 17rem;
    height: 4rem;
    font-size: 25px;
    font-weight: 600;
}

.countdown{
    margin-top: 2rem;
    font-size: 30px;
    width: fit-content;
    padding: 0.5rem;
    text-align: center;
    border: 3px dashed white;
    border-radius: 5px;
    
}
.countdown-text{
    font-size: 30px;
    font-weight: 600;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'IBM Plex Mono', monospace;
}