.conf-menu-container{
    width: 90%;
    margin: auto;
    padding-top: 1rem;
}
.convene{
    font-weight: 600;
    font-size: 25px;
}
.convene-address{
    font-size: 20px;
    font-weight: 500;
}

.map-text{
    margin: auto;
    margin-top: 1rem;
    text-align: left;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgb(0,0,0,0.2);
}