.article-text{
    font-size: 17px;
}
.article-text > span > .wp-block-image > img {
    width: 100% !important;
}
.article-container{
    overflow-y: scroll;
    height: 1400px;
}
@media screen and (max-width: 990px) {
    .article-container{
        width: 100vw;
        text-align: center;
    }
}

.art-img{
    max-width: 90%;
    height: 25rem;
    width: auto;
    margin: 2rem;
}
